body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 90%;
    margin-top: 100px;
    margin: auto;
    background: white;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.progress-container {
    width: 100%;
    background: #ddd;
    height: 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.form{
    flex: 70%;
   
}
.image{
    flex: 30%;
    text-align: center;
    
    padding: 20px;
    background-color: #D1EAF0;
    object-fit: cover;
    border-right: 2px solid #7CB9E8;
}
.pimg{
    width: 300px;
    height: 250px;
   
    margin-top: 75px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #73C7C7;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
}

.input-field {
    display: block;
    width: calc(100% - 20px); 
    margin: 10px auto;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px); 
    padding: 10px;
    background: #73C7C7;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    box-sizing: border-box;
}
